@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
* {
  box-sizing: border-box;
  outline-color: #208cec; }

html {
  scroll-behavior: smooth; }

body {
  background: #f9f9f9;
  text-align: left;
  font-family: "Nunito";
  color: #6D6969;
  margin: 0;
  padding: 0;
  font-weight: 600;
  padding-top: 75px;
  padding-bottom: 75px;
  overflow-x: hidden; }

a:not(.button) {
  color: #208cec; }

a.button {
  text-decoration: none; }

a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer; }

h1, h2, h3 {
  color: #282828; }

h1.name {
  font-size: 24px;
  margin: 0; }

.group textarea:not(.menu), .group select, .group input[type="file"], .group input[type="color"], .group input[type="text"], .group input[type="email"] {
  font-family: 'Nunito';
  box-shadow: none;
  appearance: none;
  padding: 7px;
  border: 1px solid #ddd;
  border-radius: 6px;
  margin: 14px;
  margin-left: 0;
  margin-top: 0;
  font-size: 16px;
  margin-bottom: 14px;
  background: #fbfbfb; }

select:not(:-internal-list-box) {
  overflow: visible !important; }

option {
  font-weight: normal;
  display: block;
  white-space: pre;
  min-height: 1.2em;
  padding: 0px 2px 1px; }

input[type="color" i] {
  width: 44px;
  height: 23px;
  cursor: default;
  color: -internal-light-dark(black, white); }

input[type="file"] {
  width: 235px; }

input[type="file" i] {
  cursor: default;
  align-items: baseline;
  color: inherit;
  text-overflow: ellipsis;
  white-space: pre;
  text-align: start !important;
  overflow: hidden; }

input {
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  -webkit-rtl-ordering: logical;
  font: 400 13.3333px Arial; }

.input-container {
  display: flex; }

#home {
  margin-top: 40px; }

.button {
  cursor: pointer;
  border: 2px solid #208cec;
  border-radius: 6px;
  background: #208cec;
  color: #fff;
  font-weight: 800;
  padding: 9px;
  display: table; }

.qr-campaign-charts__date {
  margin-right: 0;
  padding-left: 32px; }

.qr-campaign-charts__groupBy {
  padding: 6px 30px 6px 15px;
  text-transform: capitalize; }

.qr-campaign-charts__download {
  float: right; }

.qr-campaign-charts__date,
.qr-campaign-charts__download,
.qr-campaign-charts__groupBy {
  position: relative;
  display: inline-block;
  margin: 10px;
  padding: 6px;
  color: #a4a6a8;
  font-weight: 600;
  background: #fff;
  border: 1px solid #eaeaea; }

.qr-campaign-charts__date .icon-qr-calendar,
.qr-campaign-charts__download .icon-qr-calendar,
.qr-campaign-charts__groupBy .icon-qr-calendar {
  font-size: 16px;
  margin: auto 6px; }

.qr-campaign-charts__date .icon-qr-drop,
.qr-campaign-charts__download .icon-qr-drop,
.qr-campaign-charts__groupBy .icon-qr-drop {
  font-size: 13px;
  margin: auto 6px; }

.group.chart h4 {
  margin-bottom: 14px;
  color: #292f45;
  font-weight: 500; }

.group.chart .no-rides {
  width: 100%;
  min-height: 250px;
  background: #edf3f7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.group.chart .no-rides .rocket {
  width: 52px;
  height: 52px; }
  .group.chart .no-rides .rocket img {
    height: 100%;
    width: 100%; }

.group.chart .no-rides h1 {
  color: #525f7f;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px; }

.group.chart .no-rides h2 {
  color: #8898aa;
  font-size: 13px;
  font-weight: 500;
  text-align: center; }

.group.chart .list {
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  margin-top: 20px; }

.group.chart .list .row {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%; }

.group.chart .list .row + .row {
  border-top: 1px solid rgba(0, 0, 0, 0.06); }

.group.chart .list .cell {
  flex: 1;
  position: relative;
  padding: 15px 20px;
  color: #82909b;
  font-size: 15px; }

.group.chart .list .cell.name {
  flex: 2;
  padding-left: 60px;
  color: #313b3f;
  font-weight: 500; }

.group.chart .list .cell.name::before {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  left: 20px;
  top: 50%;
  margin-top: -12px;
  border-radius: 50%;
  background-image: url("https://rocketrides.io/images/avatar-small.svg");
  box-shadow: 0 2px 5px -1px rgba(50, 50, 93, 0.25), 0 1px 3px -1px rgba(0, 0, 0, 0.3); }

.group.chart .list .cell.date {
  flex: 1.5; }

.group.chart .list .cell.price {
  flex: 1;
  font-weight: 500;
  text-align: right; }

.qr-manage-content__items {
  max-width: 1124px;
  width: calc(100% - 48px);
  margin: 76px auto 24px;
  opacity: 1;
  transition: width .15s ease-in-out; }

.qr-manage-code {
  min-height: 152px;
  width: 100%;
  position: relative;
  padding: 20px 520px 20px 72px;
  margin: 0 0 27px;
  background: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px; }

.qr-manage-code__type {
  font-size: 12px;
  color: #d4d4d4;
  line-height: 1;
  white-space: nowrap;
  padding: 0;
  margin: 0;
  cursor: default; }

.qr-manage-code__type-icon {
  font-size: 25px;
  color: #797d80;
  position: absolute;
  left: 33px;
  top: 35px; }

.qr-manage-code__title--editable {
  cursor: text; }

.qr-manage-code__title {
  color: #797d80;
  border-color: transparent;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.qr-manage-code__title, .qr-manage-code__title-input {
  font-size: 24px;
  padding: 2px 8px;
  margin: 0 0 10px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  line-height: 1.2;
  vertical-align: middle;
  position: relative;
  left: -9px; }

.qr-manage-code__folder-icon {
  font-size: 16px;
  color: #d4d4d4;
  position: absolute;
  left: 37px;
  top: 77px; }

.qr-manage-code__folder {
  font-size: 14px;
  color: #a4a6a8;
  padding: 0 5px 0 0;
  margin: 0 0 6px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: relative;
  max-width: 135px;
  cursor: default; }

.qr-manage-code__date {
  font-size: 14px;
  color: #a4a6a8;
  white-space: nowrap;
  position: relative;
  cursor: default; }

.qr-manage-code__date-icon {
  font-size: 22px;
  color: #d4d4d4;
  position: absolute;
  left: -38px;
  top: -2px; }

.qr-manage-code__status {
  display: inline-block;
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 13px;
  line-height: 1;
  padding: 4px 8px;
  background: #eaeaea;
  color: #797d80;
  cursor: default;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px; }

.qr-manage-code__url-icon {
  font-size: 16px;
  color: #d4d4d4;
  position: absolute;
  left: 24px;
  top: 2px; }

.qr-manage-code__url a {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  color: inherit;
  text-decoration: none; }

.qr-manage-code__url-link {
  display: inline-block !important; }

.qr-manage-code__stats {
  position: absolute;
  right: 385px;
  top: 30px;
  border-left: 1px solid #f7f7f7;
  padding: 6px 0 5px 24px;
  margin: 0;
  width: 130px; }

.qr-manage-code__scans {
  color: #797d80;
  font-size: 25px;
  font-weight: 600;
  line-height: 1;
  cursor: default; }

.qr-manage-code__insights {
  display: inline-block;
  border: 0;
  background: transparent;
  color: #47bdef;
  padding: 0;
  margin: 16px 0 0;
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
  -webkit-transition: .2s;
  -moz-transition: .2s;
  transition: .2s; }

.qr-manage-code__insights-icon {
  font-size: 12px;
  margin: 0 0 0 7px;
  padding: 0;
  position: relative;
  top: 1px;
  transition: margin 150ms linear; }

.qr-manage-code__qr {
  width: 148px;
  position: relative;
  top: 1px;
  right: 235px;
  border: 0;
  padding: 0;
  margin: 0; }

.qr-code-image {
  position: relative;
  width: 100%;
  padding: 0 0 100%;
  margin: 0;
  text-align: center;
  display: none; }

.qr-code-image__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
  max-width: 100%; }

.qr-manage-code__download {
  position: absolute;
  top: 54px;
  right: 24px;
  width: 170px; }

.qr-manage-download--new {
  position: relative; }

.qr-manage-download--new .qr-manage-download {
  padding: 0;
  background-color: transparent; }

.qr-manage-download {
  position: relative;
  background: #eaeaea;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  padding: 2px 40px 2px 2px;
  margin: 0;
  border: 0;
  height: auto;
  width: 100%;
  transition: .2s; }

.qr-manage-download--new .qr-manage-download__button {
  padding: 12px 0;
  height: 44px;
  border: 2px solid #EAEAEA;
  border-radius: 2px;
  transition: all .3s ease-in-out; }

.qr-manage-download__button {
  display: block;
  width: 100%;
  height: auto;
  border: 0;
  background: #fff;
  color: #47bdef;
  text-align: center;
  text-decoration: none;
  padding: 14px 0;
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
  -webkit-border-radius: 2px 0 0 2px;
  -moz-border-radius: 2px 0 0 2px;
  border-radius: 2px 0 0 2px;
  transition: .2s; }

.qr-manage-download--new .qr-manage-download__actions {
  text-align: center;
  margin-top: 4px;
  visibility: hidden;
  opacity: 0; }

.qr-manage-download--new .qr-manage-download__actions .qr-icon-menu__item,
.qr-manage-download--new .qr-manage-download__actions .qr-manage-download__actions-more {
  width: 32px;
  height: 32px;
  border: 0;
  background: transparent;
  color: #D4D4D4;
  vertical-align: middle;
  display: inline-block;
  text-align: center;
  float: none;
  border-radius: 2px;
  padding: 0;
  margin-right: 9px;
  transition: all .3s ease-in-out; }

.qr-manage-download--new .qr-manage-download__actions-more {
  padding-top: 1px !important;
  margin-right: 0 !important; }

.qr-manage-download--new .qr-manage-download__actions .qr-icon-menu__item >
.icon, .qr-manage-download--new .qr-manage-download__actions .qr-manage-download__actions-more >
.icon {
  font-size: 16px;
  position: relative;
  top: auto;
  left: auto;
  margin: 0;
  padding: 0; }

.qr-manage-download--new .qr-manage-download__actions-more >
.icon {
  font-size: 26px !important; }

.qr-manage-download__icon {
  padding: 12px 6px 6px 6px;
  font-size: 24px;
  position: relative;
  top: 4px; }

.nav-bar {
  width: 100%;
  padding: 14px;
  padding-left: 28px;
  padding-right: 28px;
  left: 0;
  top: 0;
  border-bottom: 1px solid #ddd;
  background: #fff;
  position: fixed;
  z-index: 10; }
  .nav-bar .logo {
    margin-left: 7px;
    width: 50px;
    height: 50px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    margin: 0;
    margin-top: -2px; }
    .nav-bar .logo .emoji {
      display: block;
      width: 50px;
      margin: 0;
      height: 50px; }
  .nav-bar h1 {
    color: #282828;
    margin: 0;
    font-size: 28px;
    display: inline-block;
    vertical-align: middle;
    font-weight: 800; }
  .nav-bar .button {
    float: right; }

.page-left {
  width: calc(100% - 350px);
  display: inline-block;
  float: left;
  padding: 14px 14px 14px 14px; }
  .page-left.detail {
    padding: 74px 0 0 0; }

.group {
  background: #fff;
  border-radius: 6px;
  z-index: 1;
  position: relative;
  width: calc(100% - 14px - 14px - 14px - 14px - 14px - 14px);
  max-width: 1000px;
  text-align: left;
  margin: 14px auto;
  margin-bottom: 14px;
  display: table;
  margin-top: 20px;
  padding: 28px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd; }
  .group p.intro {
    font-size: 20px; }
  .group .heading {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 800;
    margin-bottom: 14px;
    color: #282828; }
  .group.settings {
    display: flex;
    flex-direction: column; }
  .group.charts {
    background: #f9f9f9; }

h2.slogan {
  font-size: 40px;
  max-width: 750px;
  font-weight: 800;
  margin: 0; }

.page-right {
  width: calc(350px - 2px);
  min-height: 400vh;
  display: inline-block;
  text-align: center;
  background: #fff;
  border-left: 1px solid #ddd;
  position: fixed;
  right: 0;
  margin-top: 2px; }
  .page-right .qr-img-container {
    width: 300px;
    height: 300px;
    background: green;
    margin: auto; }
    .page-right .qr-img-container .qr-img {
      height: 100%;
      width: 100%; }
  .page-right .divider {
    width: 100%;
    border-bottom: 1px solid #ddd;
    margin-top: 14px; }
  .page-right p {
    color: #888;
    opacity: 1;
    font-size: 18px;
    line-height: 2;
    padding-left: 28px;
    padding-right: 28px;
    font-weight: 500; }

.page-full {
  width: 100%;
  height: auto;
  display: inline-block;
  text-align: center;
  background: #fff;
  border-left: 1px solid #ddd;
  right: 0;
  margin-top: 2px; }
  .page-full .qr-img-container {
    width: 300px;
    height: 300px;
    background: green;
    margin: auto; }
    .page-full .qr-img-container .qr-img {
      height: 100%;
      width: 100%; }
  .page-full .divider {
    width: 100%;
    border-bottom: 1px solid #ddd;
    margin-top: 14px; }
  .page-full p {
    color: #888;
    opacity: 1;
    font-size: 18px;
    line-height: 2;
    padding-left: 28px;
    padding-right: 28px;
    font-weight: 500; }

.button-container {
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  background: #fff;
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 28px;
  text-align: center;
  width: calc(350px - 2px);
  z-index: 10;
  padding-bottom: 21px; }
  .button-container.full {
    width: 100%;
    padding: 0;
    border-top: none;
    border-left: none;
    position: relative;
    bottom: auto;
    right: auto;
    z-index: 0;
    background: transparent; }
  .button-container.full.medium {
    width: calc(100% - 350px);
    margin: 50px auto; }
  .button-container .button {
    cursor: pointer;
    background: #208cec;
    color: #fff;
    font-weight: 800;
    width: 100%;
    font-size: 24px;
    padding: 19px;
    border-radius: 6px;
    text-align: center;
    border: 2px solid #208cec; }

.nav-underline {
  width: 100%;
  position: fixed;
  top: 76px;
  margin: 0;
  z-index: 10;
  padding-left: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center; }
  .nav-underline.profile {
    grid-template-columns: repeat(2, 1fr); }
  .nav-underline.side {
    width: calc(100% - 347px); }
  .nav-underline.store {
    background: #fff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd; }
  .nav-underline.store div li p {
    font-size: 1rem; }
  .nav-underline > div {
    display: flex;
    justify-content: center;
    position: relative;
    height: 56px; }
    .nav-underline > div li {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 10px;
      border-radius: 56px;
      height: 56px;
      padding: 0 1rem;
      position: absolute; }
      .nav-underline > div li i {
        margin: 0 10px 5px 0;
        color: #808080; }
      .nav-underline > div li p {
        margin: 0;
        font-weight: 600;
        color: #333; }
  .nav-underline > li > a {
    position: relative;
    display: block;
    padding: 10px 15px 5px 15px;
    text-decoration: none; }
  .nav-underline > div:hover, .nav-underline > div:focus {
    padding-top: 13px;
    cursor: pointer; }
    .nav-underline > div:hover li, .nav-underline > div:focus li {
      background: #f7f7f7;
      height: 30px;
      border-radius: 30px; }
    .nav-underline > div:hover p, .nav-underline > div:hover i, .nav-underline > div:focus p, .nav-underline > div:focus i {
      color: #333; }
  .nav-underline > div.active {
    border-bottom: 3px solid #208cec; }
    .nav-underline > div.active li {
      background-color: transparent; }
      .nav-underline > div.active li p, .nav-underline > div.active li i {
        color: #333; }
  .nav-underline.secondary {
    float: right;
    display: block; }
  .nav-underline.secondary > li > a {
    border-bottom: none; }
  .nav-underline.secondary > li:hover, .nav-underline.secondary > li:focus, .nav-underline.secondary > li.active {
    text-decoration: none;
    border-bottom: 2px solid #208cec !important; }

.profile-settings-transition {
  display: flex;
  max-width: 100%;
  overflow: hidden; }
  .profile-settings-transition #transition-1 {
    margin: 10px 10px 10px -100%; }
    .profile-settings-transition #transition-1.active {
      margin: 10px 10px 10px 10px; }
  .profile-settings-transition #transition-2 {
    margin: 10px -100% 10px 10px; }
    .profile-settings-transition #transition-2.active {
      margin: 10px 10px 10px 10px; }
  .profile-settings-transition #transition-3 {
    margin: 10px 10px 10px -100%; }
    .profile-settings-transition #transition-3.active {
      margin: 10px 10px 10px 10px; }
  .profile-settings-transition #transition-4 {
    margin: 10px -100% 10px 10px; }
    .profile-settings-transition #transition-4.active {
      margin: 10px 10px 10px 10px; }

.profile-settings-container {
  transition: margin 800ms cubic-bezier(0.77, 0, 0.175, 1);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; }

.attendee-setup-container {
  max-width: 800px;
  width: 100%;
  flex: 1;
  margin-bottom: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: auto;
  margin-left: auto; }

h1.title {
  font-weight: 500;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 25px;
  font-size: 36px; }

h1.title.short-form {
  margin-bottom: 0; }

.attendee-form {
  width: 540px;
  margin: 15px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative; }

.attendee-form form {
  position: relative;
  width: 100%;
  font-size: 15px;
  display: block; }

.attendee-form form aside {
  margin: -30px auto 0;
  line-height: 1.3em;
  font-size: 13px;
  text-align: right;
  color: #8798ab; }

.attendee-form p {
  margin: 0 0 30px;
  font-size: 17px;
  color: #525f7f;
  line-height: 1.5;
  text-align: center; }

.attendee-form h4 {
  margin: 15px 0;
  color: #8798ab;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.02em; }

.pilot-options {
  margin: 0 0 35px; }

.attendee-form label.pilot-option {
  width: auto;
  padding: 0;
  cursor: pointer;
  text-align: left;
  margin: 17px 0;
  display: flex;
  align-items: center; }

.attendee-form label {
  display: block;
  width: 100%;
  margin-top: 10px;
  line-height: 20px;
  font-size: 13px;
  color: #8798ab;
  padding: 0 30px; }

fieldset {
  position: relative;
  min-width: 0;
  margin-bottom: 40px;
  border-style: none;
  background-color: #fff;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 5px; }

fieldset .row {
  display: flex;
  align-items: flex-end;
  position: relative;
  width: 100%;
  padding: 12px 20px 13px; }

fieldset .row::before {
  content: attr(label);
  width: 130px;
  padding-right: 20px;
  color: #8798ab;
  font-weight: 500;
  text-align: right; }

fieldset .row.select::after {
  content: '';
  position: absolute;
  width: 9px;
  height: 5px;
  right: 20px;
  top: 50%;
  display: none;
  margin-top: -2px;
  background-image: url("https://rocketrides.io/images/dropdown.svg");
  pointer-events: none; }

fieldset .row input {
  flex: 1;
  border-style: none;
  font-size: 15px;
  outline: none;
  color: #313b3f; }

fieldset .row:not(.hidden) ~ .row {
  border-top: 1px solid rgba(0, 0, 0, 0.06); }

fieldset .row select {
  flex: 1;
  padding-right: 25px;
  border-style: none;
  outline: none;
  font-size: 15px;
  outline: none;
  color: #313b3f;
  cursor: pointer;
  background-color: transparent; }

.disclaimer {
  margin: 35px auto;
  border: 2px solid #e6ebf1;
  border-radius: 5px;
  padding: 20px 135px 20px 25px;
  background: url("https://rocketrides.io/images/stripe-grey.svg") right 25px center no-repeat;
  background-size: 80px auto; }

.disclaimer p {
  color: #525f7f;
  font-size: 14px;
  text-align: left;
  margin: 0; }

@media (max-width: 1100px) {
  body {
    padding-bottom: 0; }
  .nav-underline.side {
    width: 100%; }
  .button-container, .page-left, .page-right {
    width: auto;
    min-height: 0; }
  .page-right {
    border-top: 1px solid #ddd; }
  .button-container {
    position: relative;
    bottom: auto;
    right: auto;
    z-index: 0;
    padding-bottom: 56px; }
    .button-container.full.medium {
      width: calc(100% - 100px); }
  .qr-manage-code {
    padding: 20px 0 0 0; }
  .qr-manage-code--row-first {
    padding-left: 70px;
    display: block; }
  .qr-manage-code__title {
    padding-right: 15px; }
  .qr-manage-code--row-first--col-left {
    width: 40%;
    display: inline-block; }
  .qr-manage-code__folder {
    max-width: 100%; }
  .qr-manage-code__date {
    padding-right: 75px; }
  .qr-manage-code__date-icon {
    left: -36px; }
  .qr-manage-code__url a {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block; }
  .qr-manage-code--row-second {
    margin-top: 25px;
    border-top: 1px #f7f7f7 solid;
    position: relative;
    padding-left: 70px; }
  .qr-manage-code--row-second--col-left {
    width: 250px;
    display: inline-block; }
  .qr-manage-code__stats {
    position: relative;
    display: inline-block;
    right: inherit;
    border-right: 1px solid #f7f7f7;
    float: right;
    top: 0;
    padding: 6px 0 6px 24px;
    margin-top: 18px; }
  .qr-manage-code__qr {
    width: 148px;
    height: 148px;
    margin-left: -45px;
    right: inherit;
    left: inherit;
    position: relative; }
  .qr-code-image {
    width: 50%;
    padding: 0 0 50%;
    display: inline-block; }
  .qr-manage-code--row-second--col-right {
    width: 60%;
    display: inline-block;
    float: right; }
  .qr-manage-code__download {
    top: 40px;
    right: 5%;
    width: 250px; }
  .qr-manage-download--new .qr-manage-download__button {
    width: calc(100% - 54px); }
  .qr-manage-download--new .qr-manage-download__actions {
    visibility: visible;
    opacity: 1; }
  .qr-manage-download--new .qr-manage-download__actions .qr-icon-menu__item,
  .qr-manage-download--new .qr-manage-download__actions .qr-manage-download__actions-more {
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;
    width: 44px;
    height: 44px;
    border-radius: 2px; }
  .qr-manage-download--new .qr-manage-download__actions .qr-icon-menu__item >
.icon, .qr-manage-download--new .qr-manage-download__actions .qr-manage-download__actions-more >
.icon {
    line-height: 50px; } }

@media (min-width: 600px) {
  .group .right, .group .left {
    width: 50%;
    display: inline-block;
    vertical-align: top; } }

@media (max-width: 600px) {
  .page-left {
    padding: 0; }
  h2.slogan {
    font-size: 20px; }
  .group p.intro, .group p {
    font-size: 16px; } }
